@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #b9e3ed;
}

.container-fluid {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
}

div.buttons select {
    height: auto;
}

input {
    width: 100%;
    font-weight: 400;
}

.textField_rtp,
.textField_trips,
.textField_table3,
.textField_trips2 {
    max-width: 100%;
    overflow: auto;
    border: 1px solid #000;
    padding: 3px 3px 0;
}

.textField_rtp {
    max-height: 53px;
    padding: 0;
    border-left: none;
    width: 321px;
}

.textField_rtp table {
    margin: 0;
}

.textField_rtp table td{
    border-top: none;
}

.textField_rtp td[name="number"] {
    width: 20px;
}

.textField_rtp td[name="fioRtp"] {
    width: 170px;
}

.textField_rtp td[name="fioRtp"] > select {
    width: 100%;
}

.textField_rtp td[name="number"] input {
    text-align: center;
}

.textField_table3 {
    max-height: 128px;
    border-left: none;
}

.textField_trips {
    padding: 0px;
    max-height: 155px;
    max-width: 1220px;
    border-left: none;
}

.table2_1 td {
    max-height: 22.5px;
}

table {
    margin-top: 20px;
    text-align: center;
}

table input {
    border: none;
}

table td {
    border: 1px solid #000;
}

table p {
    padding: 0;
    margin: 0;
}

.table2 td.subdivision,
table.table2_1 td.subdivision {
    width: 200px;
}

.table2 {
    margin-top: 0;
}

p.firefighting_headquarters,
p.fire_rank {
    display: inline-block;
    width: 50px;
}

p.fire_rank {
    margin: 19px 0 0 0;
}

p.firefighting_headquarters {
    margin-left: -8px;
}

p.trips {
    margin: 10px 0 5px;
}

input[name="fireRank"],
input[name="fireFightingHeadquarters"] {
    width: 40px;
    margin: 3px 0;
}

input[name="fireFightingHeadquarters"] {
    margin-left: -46px;
}

.part2 {
    width: 614px;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 4px;
    font-size: 16px;
}

.row_table2 {
    width: 1280px;
}

.top_block {
    max-height: 200px;
}

.top_left p,
p.response_time,
p.rtp_header,
p[name="records history"] {
 margin: 5px 0;
}

p.rtp_header {
    margin: 19px 0 0 0;
}

.table1,
.right_side table[name="headers"] {
    margin-top: 0;
}


.table3_header,
.description_header,
.radio_exchange_header,
.header,
.additional_information {
    margin: 5px 0;
}

.table3_header {
    margin-top: 0;
}

.table3_header.search {
    margin-top: 10px;
}

.table2_1,
.table3,
.table4,
.description_textField,
.radio_exchange_textField,
.additional_information_textField,
.textField_trips2 table {
    max-width: 100%;
    margin: 0;
}

.radio_exchange_textField {
    height: 210px;
}

.table1 td,
.table2 td,
.table2_1 td,
.table3 td,
.table4 td {
    width: 73px;
}

.right_side td[name="number"] {
    width: 40px;
}

.table2 td,
.table3 td,
.right_side table[name="headers"] td {
   border-bottom: none;
}

.table2_1 td,
.table4 td,
.textField_trips2 td {
    border-top: none;
}

.table3 .who_arrived,
.table4 .who_arrived {
    width: 150px;
}

.table3 .to_whom {
    width: 295px;
}

.table4 .job_title {
    width: 120px;
}

.textField_rtp td[name="job_title"] {
    width: 110px;
}

.textField_rtp td[name="fio"] {
    width: 180px;
}

.table4 .fio {
    width: 175px;
}

.textField_table3,
.textField_trips2 {
    padding: 0;
}

.table5 .content,
.table6 .content {
    text-align: left;
    padding-left: 4px;
}

.table5 .contents {
    width: 160px;
}

.table5 {
    margin-top: 31px;
    margin-left: 10px;
}

div.table5 {
    padding-right: 2px;
    margin: 0;
}

.table6 {
    max-width: 100%;
    margin-top: 31px;
}

.table6_col,
div.guilty_person,
div.damage {
    padding-right: 16px;
}

.table6 .content {
    width: 190px;
}

.table6 td {
    max-width: 100%;
}

.header,
.cause_of_the_fire,
.fire_object,
.additional_information,
.additional_information_textField {
    margin-left: 10px;
}

.additional_information_textField {
    max-width: 615px;
    height: 200px;
}

.description_col {
    max-height: 180px;
}

.right_side table {
    max-width: 100%;
}

.right_side td {
    height: 25.5px;
}

.right_side td[name="date"] {
    width: 95px;
}

.right_side td[name="time"] {
    width: 52px;
}

.right_side td[name="locality"] {
    width: 110px;
}

.right_side td[name="category"] {
    width: 140px;
}

.right_side td[name="address"] {
    width: 280px;
}

.right_side td[name="address_emer_trips"] {
    width: 160px;
}

.right_side td[name="address_emer_trips"] div {
    overflow:auto;
    width: 150px;
}

.right_side td[name="category"] div {
    overflow:auto;
    width: 130px;
}

.textField_trips2 {
    border-left: none;
    max-height: 600px;
    margin-bottom: 5px;
}

select,
input[name="datetime"] {
    width: 100%;
    height: 100%;
}

div[name="departureArea"] {
    padding-left: 0;
    margin-right: -30px;
}

div.rtp {
    padding-right: 0;
}

div.fire_rank {
    margin-left: -60px;
}

div[name="fire_rank"] > select {
    margin-top: 19px;
    height: auto;
}

div.byRaport {
    margin: -12px 0 0 -7px;
}

input[name="byRaport"] {
    margin-left: -12px;
}

p.departure_area {
    margin: 19px 0 5px -24px;
}
select#departure_area {
    width: 100px;
    margin-left: -24px;
    height: 28px;
}

select[name="fireRank"] {
    width: 70px;
}

div.whoTook {
    height: 28px;
}

div.right_side {
    border-left: 3px solid #2ebaee;
    margin-left: -9px;
    padding-left: 6px;
    padding-right: 9px;
}

div.left_side {
    padding-right: 16px;
}

div.textField_trips2 table {
    font-weight: 400;
    text-align: left;
    border-collapse: collapse;
}

div.textField_trips2 td{
    padding-left: 8px;
}

div.textField_trips2 td[name="number"],
div.textField_trips2 td[name="date"],
div.textField_trips2 td[name="time"] {
    text-align: center;
    padding-left: 0;
}

input[type="reset"],
input[type="submit"] {
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0;
    height: 25px;
    margin: 5px 0;
}

div.buttons a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 143.48px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
    background-color: buttonface;
    font-weight: 400;
}

div.buttons a:hover,
.saveDescript button:hover,
div.add button:hover,
div.delete button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border: 1px solid #0d6efd;
    box-shadow: 0 0 3px 1px #0d6efd;
}

div.save_trip > input[type="submit"]:hover {
    border: 1px solid #188718;
    box-shadow: 0 0 3px 1px #188718;
}

div.delete_trip > input[type="submit"]:hover {
    border: 1px solid darkred;
    box-shadow: 0 0 3px 1px darkred;
}

div.buttons a:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-style: groove;
    border: 2px solid #0d6efd;
    line-height: 23px;
    box-shadow: none;
}

.saveDescript button:active,
div.add button:active,
div.delete button:active {
    border: 2px solid #0d6efd;
    box-shadow: none;
    line-height: 100%;
}

div.save_trip > input[type="submit"]:active {
    border: 2px solid #188718;
}

div.delete_trip > input[type="submit"]:active {
    border: 2px solid darkred;
}


div[name="bottom-right"] {
    padding-left: 0;
    margin-top: -30px;
}

div.search[name="bottom-right"] {
    margin-top: 35px;
}

.header.damage,
.header.guilty_person {
    margin-left: 0;
}

.page_header {
    background-color: #2ebaee;
    margin: 0 -12px 0 0;
    text-align: center;
}

.right_side div.page_header {
    margin-left: -6px;
    margin-right: 0;
}

h5 {
    margin: 0;
}

div.textField_trips2 tr:hover {
    cursor: default;
}

div.textField_trips2 tr:hover td {
    background-color: rgba(46, 186, 238, 0.5);
}

td[name="barrel"],
td[name="GDZS"],
td[name="GDZS_work"] {
    width: 60px;
}

td[name="car_number"] {
    width: 80px;
}

div.fireFightingHeadquarters {
    padding-top: 3px;
}

div.buttons hr {
    margin: 5px 0;
    color: #000;
}

.error {
    border: 1px solid red;
}

div.size {
    height: 27px;
}

p.searchFormHeader {
    margin-bottom: 5px;
}

.scroll {
 position: relative;
 height: 220px;
 width: 540px;
}

.scroll > input {
 display: none;
}

.scroll > div {
 overflow: hidden;
 width: 460px;
 height: auto;
 font-size: 14px;
 margin: 0 auto;
 padding-left: 3px;
}

div.formsWrapper {
 width: 2002px;
 height: 100%;
 font-size: 14px;
}

div.formsWrapper select,
div.buttons form#nonEmergencySearchForm select,
div.buttons form#regionNonEmergencySearchForm select,
div.buttons form#nonEmergencySearchForm input,
div.buttons form#regionNonEmergencySearchForm input,
div.formsWrapper input,
form.printTripsListHeader input,
form.printTripsListHeader select {
margin: 0 0 2px;
width: 100%;
height: 25px;
}

p.citySearchForm.form1,
p.citySearchForm.form4,
p.form3,
p.form9 {
height: 70px;
}

p.form4:not(.citySearchForm) {
padding-bottom: 1.5em;
}

p.form13 {
height: 98px;
}

.scroll form {
 display: inline-block;
 position: relative;
 right: 0;
 width: 145px;
 height: 100%;
 transition: .2s;
 margin-right: 5px;
}

.scroll form > * {
    display: block;
}

.scroll label {
 cursor: pointer;
 font-weight: 500;
 font-size: 2em;
}

.scroll input:nth-of-type(1):checked ~ label:nth-of-type(2):after,
.scroll input:nth-of-type(2):checked ~ label:nth-of-type(3):after,
.scroll input:nth-of-type(3):checked ~ label:nth-of-type(4):after,
.scroll input:nth-of-type(4):checked ~ label:nth-of-type(5):after {
 content: "\3009";
 position: absolute;
 right: 0;
 top: 90px;
}

.scroll input:nth-of-type(2):checked ~ label:nth-of-type(1):after,
.scroll input:nth-of-type(3):checked ~ label:nth-of-type(2):after,
.scroll input:nth-of-type(4):checked ~ label:nth-of-type(3):after {
 content: "\3008";
 position: absolute;
 left: 0;
 top: 90px;
}

.scroll input:nth-of-type(2):checked ~ div form {right: 459px;}
.scroll input:nth-of-type(3):checked ~ div form {right: 918px;}
.scroll input:nth-of-type(4):checked ~ div form {right: 1379px;}

div.row_buttons {
    height: 25px;
    width: 120px;
    margin: 10px 0 15px 0;
}

.not_complete td {
    color: red;
}

div.is_complete {
    width: 100%;
}

div.is_complete div.delete,
div.is_complete div.index {
    margin-left: -11px;
}

div.is_complete input[type='checkbox'] {
    width: 13px;
    height: 13px;
}

div.is_complete label {
    margin: -3px -10px 0 205px;
}

div.add button img,
div.delete button img {
    width: 20px;
}

div.add button,
div.delete button,
.index input,
.saveDescript button {
    border-width: 1px;
    border-radius: 5px;
    max-height: 100%;
}

.index input {
    text-align: center;
    height: 25px;
    width: 30px;
}

div.part2 div.row_buttons {
    margin: 20px 0 0 12px;
}

.saveDescript button {
    margin-top: 5px;
    height: 30px;
    weight: 50px;
}

.saveDescript img {
    height: 24px;
    weight: 24px;
}

form.printTripsListHeader > p {
    margin: 24px 0 5px 0;
}

form.printTripsListHeader {
    margin-left: 36px;
}
