body {
    background-color: #f0d29e;
}

textarea[name="primary message"] {
    margin-top: 10px;
    height: 70%;
}

div.right_side {
    border-color: #E58F65;
}

.page_header {
    background-color: #E58F65;
}

div.textField_trips2 tr:hover td {
    background-color: rgba(229, 143, 101, 0.5);
}