.container {
    font-family: 'Roboto';
    font-weight: 500;
	padding-top: 20px;
	max-width: 1600px;
}

input,
select,
input[name="datetime"] {
	font-size: 15px;
	height: 27px;
	font-weight: 400;
}

div.right_side,
div.left_side {
	margin: 0;
	padding: 0 12px;
}

div.left_side {
	padding-left: 232px;
}

table {
	margin: 0;
}

table td {
	height: 26px;
}

.textField_who_was_involved {
	width: 528px;
	max-height: 221px;
	overflow: auto;
	border: 1px solid #000;
	padding: 0;
	border-left: none;
}

table[name="who_was_involved"],
.textField_who_was_involved table {
}

table[name="who_was_involved"] {
	margin-top: 5px;
}

table[name="who_was_involved"] td {
	border-bottom: none;
	height: 30px;
}

.textField_who_was_involved td {
	border-top: none;
}

.textField_who_was_involved table td.subdivision,
table[name="who_was_involved"] td[name="subdivision"] {
	width: 130px;
}


td[name="return_time"], td[name="check_out_time"] {
	width: 110px;
}

td[name="div_number"],
td[name="stuff"] {
	width: 45px;
}

td[name="car_type"] {
	width: 70px;
}

.additional_information,
.additional_information_textField {
	margin-left: 0;
	width: 528px;
}

.additional_information_textField {
	height: 100%;
	font-size: 15px;
}

p {
	margin: 5px 0;
}

p[name="records history"] {
	margin-bottom: 10px;
}

.additional_information {
	margin: 10px 0;
	max-height: 100%;
}

.textField_trips2 {
	width: 897px;
	font-size: 15px;
}

div.buttons input {
	width: 143.48px;
	font-size: 14px;
}

.row.buttons {
	width: 100%;
}

.header {
	background-color: #2ebaee;
	margin: 0 -12px 10px 0;
	text-align: center;
}

.right_side td[name="category"] {
    width: 300px;
}

form.left_side {
	width: 554px;
}

input[name="index"] {
    margin-left: 10px;
}

div.row_buttons {
    margin-left: 12px;
    margin-bottom: 5px;
}

.index input[name="index"] {
    height: 28px;
}

div.delete button {
    margin-left: 5px;
}

div.is_complete label {
    margin: 2px -20px 0 205px;
}

div.is_complete input[type='checkbox'] {
    margin: 7px;
}

.right_side td[name="address_emer_trips"] div {
    overflow:auto;
    width: 270px;
}

.right_side td[name="category"] div {
    overflow:auto;
    width: 290px;
}