body {
    background-color: #f0d29e;
}

div.header {
	background-color: #E58F65;
}

div.right_side {
	border-color: #E58F65;
}

div.textField_trips2 tr:hover td {
    background-color: rgba(229, 143, 101, 0.5);
}