<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Журнал выездов ЦППС</title>
    <link rel="shortcut icon" type="image/svg" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css" th:href="@{/css/style1.css}">
</head>
<body>
<div class="container">
    <form class="col-12" method="get" th:action="@{/duty_guard}">
        <input type="submit" value="Дежурная смена">
    </form>
    <form class="col-12" method="get" th:action="@{/emergencyTripsCity/}" target="_blank">
        <input hidden name="pageNumber" value="0">
        <input type="submit" value="Выезды по тревоге в городе">
    </form>
    <form class="col-12" method="get" th:action="@{/regionEmergencyTrips/}" target="_blank">
        <input hidden name="pageNumber" value="0">
        <input type="submit" value="Выезды по тревоге в области">
    </form>
    <form class="col-12" method="get" th:action="@{/nonEmergencyTripsCity/}" target="_blank">
        <input hidden name="pageNumber" value="0">
        <input type="submit" value="Выезды на занятия в городе">
    </form>
    <form class="col-12" method="get" th:action="@{/regionNonEmergencyTrips/}" target="_blank">
        <input hidden name="pageNumber" value="0">
        <input type="submit" value="Выезды на занятия в области">
    </form>
    <form class="row gx-0 duty_trips_info" method="get" action="#" th:action="@{/printDutyTrips}" target="_blank">
        <label class="col-8" for="duty_date">Данные по выездам за дежурные сутки</label>
        <input class="col-3" id="duty_date" name="date" type="date">
        <div class="col-1">
            <button class="print_duty_info_button" type="submit" >
                <img class="print_duty_info_icon" src="../static/img/outline_print_black_24dp.png"
                     th:src="@{/img/outline_print_black_24dp.png}">
            </button>
        </div>
    </form>
</div>
</body>
</html>
