<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ВЫЕЗДЫ В ОБЛАСТИ</title>
    <link rel="shortcut icon" type="image/svg" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style3.css" th:href="@{/css/style3.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style4.css" th:href="@{/css/style4.css}">
    <script th:src="@{/assets/js/jquery-3.7.0.min.js}"></script>
    <script defer th:inline="javascript">
        $(document).ready(function () {
            var currDateTime = new Date();
            var day = currDateTime.getDate();
            var month = currDateTime.getMonth() + 1;
            var year = currDateTime.getFullYear();
            var hour = currDateTime.getHours();
            var minute = currDateTime.getMinutes();
            day = (day < 10) ? '0' + day : day;
            month = (month < 10) ? '0' + month : month;
            hour = (hour < 10) ? '0' + hour : hour;
            minute = (minute < 10) ? '0' + minute : minute;
            var date = year + '-' + month + '-' + day + 'T' + hour + ':' + minute;
            var field = $("input[type='datetime-local']");
            if (field.val() == '') field.val(date);

            var obj1 = Object([[${application.categoriesMap.fioSptList}]]);
            var obj = Object([[${application.settlementDivisionsMap}]]);
            var obj2 = Object([[${application.garrisonSettlementsMap}]]);
            var v = new Option('', '');
            v.setAttribute('selected', '');

            $("#garrison").change(function () {
                var val = $(this).val();
                if (val != '') {
                    $("#settlement > option").remove();
                    $("#settlement").append(v);
                    for (const div of obj2[val]) {
                        $("#settlement").append(new Option(div, div));
                    }
                }
            });

            $("select#division").change(function () {
                var val = $(this).val();
                if (val != '') {
                    $(this).parent().siblings('[name="car_number"]').children().attr('placeholder', 'A123AA49');
                }
                else {
                    $("input#carNumber").removeAttr('placeholder');
                }
            });

            $("div.textField_rtp td[name='job_title'] > select").change(func);
            $("div.textField_table3 td[name='job_title'] > select").change(func);

            function func() {
                var curr = $(this);
                var val = curr.val();
                var el = $(this).parent().next();
                var elNameAttr = el.children().attr('name');
                if (val == 'НДС СПТ' || val == 'СПТ') {
                    el.empty();
                    el.html('<select>');
                    el.children("select").append(new Option('', ''))
                    for (const fio of obj1) {
                        el.children().append(new Option(fio, fio));
                    }
                }
                else {
                    el.empty();
                    el.html('<input type=\"text\">');
                }
                el.children().attr('name', elNameAttr);
            };

            $("div.textField_trips2 tr").click(function () {
               let pageNumber = [[${regionTripsPage.getNumber()}]]
               let tripsCount = [[${regionTripsPage.getSize()}]]
               let tripIndex = $(this).find("td:first-child").text() - tripsCount * pageNumber - 1;
               let form = document.createElement('form');
               form.action = 'record';
               form.method = 'GET';

               form.innerHTML = `<input name="tripIndex" value=${tripIndex} hidden>`;
               document.body.append(form);
               form.submit();
           });

           function func1(event) {
                if(event.keyCode == 13) {
                event.preventDefault();
                return false;
                }
           };

           $("form#tripForm input[type='text']").keydown(func1);
           $("form#tripForm input[type='time']").keydown(func1);
           $("form#tripForm input[type='textarea']").keydown(func1);
           $("form#tripForm input[type='checkbox']").keydown(func1);
        });


    </script>
</head>

<body>
<div class="container-fluid" th:with="pageNumber = ${regionTripsPage.getNumber()}">
    <div class="row">
        <form class="col-8 left_side" id="tripForm" method="POST" action="#"
              th:action="@{/regionEmergencyTrips/edit}"
              th:object="${regionEmergencyTripEdit}">
            <input hidden name="pageNumber" th:value="${pageNumber}">
            <div class="row gx-4">
                <div class="col-6 top_left">
                    <div class="row gx-2">
                        <div class="col-3">
                            <p>Дата и время</p>
                        </div>
                        <div class="col-4">
                            <p>Гарнизон</p>
                        </div>
                        <div class="col-5">
                            <p>Населённый пункт</p>
                        </div>
                        <div class="col-3 size">
                            <input type="datetime-local" name="datetime" th:field="*{dateTime}" th:errorclass="error">
                        </div>
                        <div class="col-4 size">
                            <select id="garrison" name="garrison">
                                <option value="" selected
                                        th:text="*{settlement == null} ? _ : *{settlement.garrison.name}"></option>
                                <option value=""
                                        th:each="pos : ${application.garrisonSettlementsMap}"
                                        th:value="${pos.key}" th:text="${pos.key}"
                                        th:if="${pos.key} != 'Магаданский ПСГ'">
                                </option>
                            </select>
                        </div>
                        <div class="col-5 size">
                            <select id="settlement" name="settlement" th:field="*{settlement}" th:errorclass="error">
                                <option value="" selected></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.regionSettlementsList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <p>Адрес</p>
                        </div>
                        <div class="col-6">
                            <p>Категория выезда</p>
                        </div>
                        <div class="col-6">
                            <input type="text" name="address" th:field="*{address}" th:errorclass="error">
                        </div>
                        <div class="col-6">
                            <select th:field="*{tripCategory}" th:errorclass="error">
                                <option value="" selected></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.emergencyTripsCategoriesList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <p>Заявитель</p>
                        </div>
                        <div class="col-6">
                            <p>Кто передал</p>
                        </div>
                        <div class="col-6">
                            <input type="text" name="applicant" th:field="*{applicant}" th:errorclass="error">
                        </div>
                        <div class="col-6">
                            <input type="text" name="whoReported" th:field="*{whoReported}" th:errorclass="error">
                        </div>
                        <div class="col-6">
                            <p>Первичное сообщение</p>
                        </div>
                        <div class="col-6">
                            <p>Кто принял (ЦППС)</p>
                        </div>
                        <div class="col-6">
                            <textarea class="" name="text" th:field="*{primaryMessage}"></textarea>
                        </div>
                        <div class="col-6 whoTook">
                            <select th:field="*{whoTook}" th:errorclass="error">
                                <option value=""></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.fioDispatcherList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6 padding-left-0">
                    <div class="row part2">
                        <div class="col">
                            <div class="col-12">
                                <p class="response_time">Время реагирования</p>
                            </div>
                            <table class="table1">
                                <thead>
                                <tr>
                                    <td>
                                        <p>Время сообщ.</p>
                                    </td>
                                    <td>
                                        <p>Время выезда</p>
                                    </td>
                                    <td>
                                        <p>Время приб.</p>
                                    </td>
                                    <td>
                                        <p>1-й ствол</p>
                                    </td>
                                    <td>
                                        <p>ЛОК</p>
                                    </td>
                                    <td>
                                        <p>ЛОГ</p>
                                    </td>
                                    <td>
                                        <p>Полная ликв.</p>
                                    </td>
                                    <td>
                                        <p>Время возвр.</p>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="time" name="messageTime" th:field="*{messageTime}"
                                               th:errorclass="error"></td>
                                    <td><input type="time" name="checkOutTime" th:field="*{checkOutTime}"
                                               th:errorclass="error">
                                    </td>
                                    <td><input type="time" name="" th:field="*{arrivalTime}"></td>
                                    <td><input type="time" name="" th:field="*{firstBarrelTime}"></td>
                                    <td><input type="time" name="" th:field="*{locTime}"></td>
                                    <td><input type="time" name="" th:field="*{logTime}"></td>
                                    <td><input type="time" name="" th:field="*{completeLiqTime}"></td>
                                    <td><input type="time" name="returnTime" th:field="*{returnTime}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-7">
                            <p class="rtp_header">РТП</p>
                        </div>
                        <div class="col-3">
                            <p class="departure_area">Район выезда</p>
                        </div>
                        <div class="col-2 fire_rank">
                            <div class="row">
                                <div class="col-6">
                                    <p class="fire_rank">Ранг</p>
                                </div>
                                <div class="col-6" name="fire_rank">
                                    <select name="fireRank" th:field="*{fireRank}">
                                        <option value="" selected></option>
                                        <option value="1">1</option>
                                        <option value="1 БИС">1 БИС</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 rtp">
                            <div class="textField_rtp" name="rtp">
                                <table>
                                    <tr th:each="rtp,stat : ${regionEmergencyTripEdit.rtpList}">
                                        <td name="number">
                                            <input type="text"
                                                   th:field="${regionEmergencyTripEdit.rtpList[__${stat.index}__].orderRtp}">
                                        </td>
                                        <td name="job_title">
                                            <select th:field="${regionEmergencyTripEdit.rtpList[__${stat.index}__].positionRtp}"
                                                    th:errorclass="error">
                                                <option value=""></option>
                                                <option value=""
                                                        th:each="pos : ${application.categoriesMap.positionsRtpList}"
                                                        th:value="${pos}" th:text="${pos}">ЗНГУ по ГПС
                                                </option>
                                            </select>
                                        </td>
                                        <td name="fioRtp">
                                            <input type="text" name="fioRtp"
                                                   th:field="${regionEmergencyTripEdit.rtpList[__${stat.index}__].fioRtp}"
                                                   th:errorclass="error">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-2" name="departure_area">
                            <div class="row">
                                <div class="col-12">
                                    <select id="departure_area" name="departureArea" th:field="*{departureArea}"
                                            th:errorclass="error">
                                        <option value="" selected></option>
                                        <option value=""
                                                th:each="pos : ${application.categoriesMap.divisionsRegionsList}"
                                                th:value="${pos}" th:text="${pos}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 fireFightingHeadquarters">
                            <div class="row">
                                <div class="col-6">
                                    <p class="firefighting_headquarters">Штаб</p>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" name="fireFightingHeadquarters"
                                           th:field="*{fireFightingHeadquarters}">
                                </div>
                            </div>

                        </div>

                        <div class="row gx-0 justify-content-start row_buttons is_complete">
                            <div class="col-1 add">
                                <button type="submit" th:formaction="@{/regionEmergencyTrips/addNewRtpEdit}">
                                    <img src="../static/img/add_FILL0_wght400_GRAD0_opsz48.png"
                                         th:src="@{/img/add_FILL0_wght400_GRAD0_opsz48.png}">
                                </button>
                            </div>
                            <div class="col-1 delete">
                                <button type="submit" th:formaction="@{/regionEmergencyTrips/deleteRtpEdit}">
                                    <img src="../static/img/delete_FILL0_wght400_GRAD0_opsz48.png"
                                         th:src="@{/img/delete_FILL0_wght400_GRAD0_opsz48.png}">
                                </button>
                            </div>
                            <div class="col-1 index">
                                <input type="text" name="indexRtp" pattern="\d+">
                            </div>
                            <label class="col-3" for="isComplete">Карточка заполнена</label>
                            <input class="col-1" type="checkbox" id="isComplete" th:field="*{complete}">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="trips">Выезжали</p>
            </div>
            <div class="row">
                <div class="col-12 table2_col">
                    <table class="table2">
                        <thead>
                        <tr>
                            <td class="subdivision" rowspan="2">
                                <p>Подразделение</p>
                            </td>
                            <td rowspan="2">
                                <p>Отд.</p>
                            </td>
                            <td rowspan="2">
                                <p>Л/с</p>
                            </td>
                            <td rowspan="2">
                                <p>Тип ПА</p>
                            </td>
                            <td rowspan="2">
                                <p>Время выезда</p>
                            </td>
                            <td rowspan="2">
                                <p>Время приб.</p>
                            </td>
                            <td rowspan="2">
                                <p>Время возвр.</p>
                            </td>
                            <td colspan="3">
                                <p>Водяные стволы</p>
                            </td>
                            <td colspan="3">
                                <p>Пенные стволы</p>
                            </td>
                            <td rowspan="2" name="GDZS">
                                <p>Звено гдзс</p>
                            </td>
                            <td rowspan="2" name="GDZS_work">
                                <p>Работа ГДЗС, мин</p>
                            </td>
                            <td rowspan="2" name="car_number">
                                <p>Г/н ПА</p>
                            </td>
                        </tr>
                        <tr>
                            <td name="barrel">
                                <p>А</p>
                            </td>
                            <td name="barrel">
                                <p>Б</p>
                            </td>
                            <td name="barrel">
                                <p>ЛС</p>
                            </td>
                            <td name="barrel">
                                <p>Пурга</p>
                            </td>
                            <td name="barrel">
                                <p>ГПС</p>
                            </td>
                            <td name="barrel">
                                <p>СВП</p>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="textField_trips">
                <table class="table2_1">
                    <tr th:each="divTrip,stat : ${regionEmergencyTripEdit.alarmDivisionWorkList}">
                        <td class="subdivision">
                            <select id="division"
                                    th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].division}"
                                    th:errorclass="error">
                                <option value="" selected></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.divisionsCityList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.divisionsRegionsList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </td>
                        <td>
                            <select th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].divisionNumber}"
                                    th:errorclass="error">
                                <option value="" selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="Резерв">Резерв</option>
                            </select>
                        </td>
                        <td>
                            <input type="text"
                                   th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].stuff}"
                                   th:errorclass="error">
                        </td>
                        <td>
                            <select id="carType"
                                    th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].carType}"
                                    th:errorclass="error">
                                <option value="" selected></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.carTypesList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </td>
                        <td><input id="checkOutTime" type="time"
                                   th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].checkOutTime}"
                                   th:errorclass="error">
                        </td>
                        <td><input id="arrivalTime" type="time"
                                   th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].arrivalTime}">
                        </td>
                        <td><input id="returnTime" type="time"
                                   th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].returnTime}">
                        </td>
                        <td name="barrel"><input id="barrelA" type="text" pattern="\d+"
                                                 th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].barrelA}">
                        </td>
                        <td name="barrel"><input id="barrelB" type="text" pattern="\d+"
                                                 th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].barrelB}">
                        </td>
                        <td name="barrel"><input id="barrelLs" type="text" pattern="\d+"
                                                 th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].barrelLs}">
                        </td>
                        <td name="barrel"><input id="barrelPurga" type="text" pattern="\d+"
                                                 th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].barrelPurga}">
                        </td>
                        <td name="barrel"><input id="barrelGps" type="text" pattern="\d+"
                                                 th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].barrelGps}">
                        </td>
                        <td name="barrel"><input id="barrelSvp" type="text" pattern="\d+"
                                                 th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].barrelSvp}">
                        </td>
                        <td name="GDZS"><input id="gdzsCount" type="text" pattern="\d+"
                                               th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].gdzsCount}">
                        </td>
                        <td name="GDZS_work"><input id="gdzsWork" type="text" pattern="\d+"
                                                    th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].gdzsWork}">
                        </td>
                        <td name="car_number">
                            <input id="carNumber" type="text" pattern="[А-Я]\d{3}[А-Я]{2}\d{2}"
                                   th:field="${regionEmergencyTripEdit.alarmDivisionWorkList[__${stat.index}__].carNumber}">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row gx-0 justify-content-start row_buttons">

                <div class="col-4 add">
                    <button type="submit" th:formaction="@{/regionEmergencyTrips/addNewDivisionEdit}">
                        <img src="../static/img/add_FILL0_wght400_GRAD0_opsz48.png"
                             th:src="@{/img/add_FILL0_wght400_GRAD0_opsz48.png}">
                    </button>
                </div>

                <div class="col-4 delete">
                    <button type="submit" th:formaction="@{/regionEmergencyTrips/deleteDivisionEdit}">
                        <img src="../static/img/delete_FILL0_wght400_GRAD0_opsz48.png"
                             th:src="@{/img/delete_FILL0_wght400_GRAD0_opsz48.png}">
                    </button>
                </div>

                <div class="col-4 index">
                    <input type="text" name="indexDivision" pattern="\d+">
                </div>

            </div>

            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <p class="table3_header">Сообщено</p>
                        </div>
                        <div class="col-12">
                            <table class="table3">
                                <tbody>
                                <td class="to_whom">Кому</td>
                                <td class="message_time">Время сообщ.</td>
                                <td class="who_arrived">Кто прибыл</td>
                                <td class="arrival_time">Время приб.</td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <div class="textField_table3">
                                <table class="table4">
                                    <tbody>
                                    <tr th:each="report,stat : ${regionEmergencyTripEdit.toWhomWasReportedList}">
                                        <td class="job_title" name="job_title">
                                            <select id="positionWasReported"
                                                    th:field="${regionEmergencyTripEdit.toWhomWasReportedList[__${stat.index}__].positionWasReported}"
                                                    th:errorclass="error">
                                                <option value="" selected></option>
                                                <option value=""
                                                        th:each="pos : ${application.categoriesMap.positionsWasReportedList}"
                                                        th:value="${pos}" th:text="${pos}">
                                                </option>
                                            </select>
                                        </td>
                                        <td class="fio">
                                            <input id="nameWasReported" type="text"
                                                   th:field="${regionEmergencyTripEdit.toWhomWasReportedList[__${stat.index}__].nameWasReported}"
                                                   th:errorclass="error">
                                        </td>
                                        <td><input id="messageTime" type="time"
                                                   th:field="${regionEmergencyTripEdit.toWhomWasReportedList[__${stat.index}__].messageTime}"
                                                   th:errorclass="error"></td>
                                        <td class="who_arrived">
                                            <input id="nameWasArrived" type="text"
                                                   th:field="${regionEmergencyTripEdit.toWhomWasReportedList[__${stat.index}__].nameWasArrived}">
                                        </td>
                                        <td><input id="arrivedTime" type="time" th:field="${regionEmergencyTripEdit.toWhomWasReportedList[__${stat.index}__].arrivedTime}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-0 justify-content-start row_buttons">

                        <div class="col-4 add">
                            <button type="submit" th:formaction="@{/regionEmergencyTrips/addReportedEdit}">
                                <img src="../static/img/add_FILL0_wght400_GRAD0_opsz48.png"
                                     th:src="@{/img/add_FILL0_wght400_GRAD0_opsz48.png}">
                            </button>
                        </div>

                        <div class="col-4 delete">
                            <button type="submit" th:formaction="@{/regionEmergencyTrips/deleteReportedEdit}">
                                <img src="../static/img/delete_FILL0_wght400_GRAD0_opsz48.png"
                                     th:src="@{/img/delete_FILL0_wght400_GRAD0_opsz48.png}">
                            </button>
                        </div>

                        <div class="col-4 index">
                            <input type="text" name="indexReported" pattern="\d+">
                        </div>

                    </div>

                    <div class="col-12">
                        <p class="description_header">Описание</p>
                    </div>
                    <div class="col-12 description_col">
    <textarea class="description_textField" name="text" id="descript" cols="30" rows="7"
              th:field="*{descript}"></textarea>
                    </div>
                    <div class="col-12">
                        <p class="radio_exchange_header">Радиообмен</p>
                    </div>
                    <div class="col-12">
    <textarea class="radio_exchange_textField" name="text" id="radioExchange" cols="30" rows="4"
              th:field="*{radioExchange}"></textarea>
                    </div>
                </div>
                <div class="col-6" name="bottom-right">
                    <div class="row" name="bottom-right">
                        <div class="col-6 table5">
                            <table class="table5">
                                <thead>
                                <td class="contents"></td>
                                <td>Всего, чел.</td>
                                <td>В т. ч. детей</td>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="content">Спасено</td>
                                    <td><input id="rescued" type="text" pattern="\d+" th:field="*{rescued}"></td>
                                    <td><input id="rescuedChildren" type="text" pattern="\d+"
                                               th:field="*{rescuedChildren}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Травмировано</td>
                                    <td><input id="injured" type="text" pattern="\d+" th:field="*{injured}"></td>
                                    <td><input id="injuredChildren" type="text" pattern="\d+"
                                               th:field="*{injuredChildren}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Эвакуировано</td>
                                    <td><input id="evacuated" type="text" pattern="\d+" th:field="*{evacuated}"></td>
                                    <td><input id="evacuatedChildren" type="text" pattern="\d+"
                                               th:field="*{evacuatedChildren}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Погибло</td>
                                    <td><input id="died" type="text" pattern="\d+" th:field="*{died}"></td>
                                    <td><input id="diedChildren" type="text" pattern="\d+" th:field="*{diedChildren}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Погибло до прибытия</td>
                                    <td><input id="diedBeforeArrival" type="text" pattern="\d+"
                                               th:field="*{diedBeforeArrival}"></td>
                                    <td><input id="diedBeforeArrivalChildren" type="text" pattern="\d+"
                                               th:field="*{diedBeforeArrivalChildren}"></td>
                                </tr>
                                <tr>
                                    <td class="content">Деблокировано</td>
                                    <td><input id="released" type="text" pattern="\d+" th:field="*{released}"></td>
                                    <td><input id="releasedChildren" type="text" pattern="\d+"
                                               th:field="*{releasedChildren}"></td>
                                </tr>
                                <tr>
                                    <td class="content" colspan="2">Сотрудники/работники ПО</td>
                                </tr>
                                <tr>
                                    <td class="content">Травмировано</td>
                                    <td><input id="injuredEmployees" type="text" pattern="\d+"
                                               th:field="*{injuredEmployees}"
                                    ></td>
                                </tr>
                                <tr>
                                    <td class="content">Погибло</td>
                                    <td><input id="diedEmployees" type="text" pattern="\d+" th:field="*{diedEmployees}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6 table6_col">
                            <table class="table6">
                                <tbody>
                                <tr>
                                    <td colspan="2">Чем потушено</td>
                                </tr>
                                <tr>
                                    <td class="content">Подручными ср/ми</td>
                                    <td><input id="extinguishedWithImproviseMeans" type="checkbox" name="extinguished"
                                               value="extinguishedWithImproviseMeans" th:field="*{extinguished}"></td>
                                </tr>
                                <tr>
                                    <td class="content">От АЦ</td>
                                    <td><input id="extinguishedFromAc" type="checkbox" name="extinguished"
                                               value="extinguishedFromAc" th:field="*{extinguished}"></td>
                                </tr>
                                <tr>
                                    <td class="content">Источник ППВ</td>
                                    <td>
                                        <select id="waterSource" th:field="*{waterSource}">
                                            <option value=""></option>
                                            <option value=""
                                                    th:each="pos : ${application.categoriesMap.waterSourceList}"
                                                    th:value="${pos}" th:text="${pos}">
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Подача воды от ИНППВ</td>
                                    <td>
                                        <select id="waterSupply" th:field="*{waterSupply}">
                                            <option value=""></option>
                                            <option value=""
                                                    th:each="pos : ${application.categoriesMap.waterSupplyList}"
                                                    th:value="${pos}" th:text="${pos}">
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Слито воды, л.</td>
                                    <td><input id="drainedWater" type="text" pattern="\d+" th:field="*{drainedWater}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content">Слито ПО, л.</td>
                                    <td><input id="drainedFoamConcentrate" type="text" pattern="\d+"
                                               th:field="*{drainedFoamConcentrate}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Кем потушено</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select id="whoExtinguished" th:field="*{whoExtinguished}">
                                            <option value=""></option>
                                            <option value=""
                                                    th:each="pos : ${application.categoriesMap.whoExtinguishedList}"
                                                    th:value="${pos}" th:text="${pos}">
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <p class="header">Причина пожара</p>
                        </div>
                        <div class="col-6">
                            <p class="header guilty_person">Виновное лицо</p>
                        </div>
                        <div class="col-6">
                            <select id="causeOfTheFire" th:field="*{causeOfTheFire}" class="cause_of_the_fire" th:errorclass="error">
                                <option value=""></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.fireCauseList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </div>
                        <div class="col-6 guilty_person">
                            <input id="guiltyPerson" class="guilty_person" type="text" th:field="*{guiltyPerson}">
                        </div>
                        <div class="col-6">
                            <p class="header">Объект</p>
                        </div>
                        <div class="col-6">
                            <p class="header damage">Ущерб</p>
                        </div>
                        <div class="col-6">
                            <select id="fireObject" th:field="*{fireObject}" class="fire_object">
                                <option value=""></option>
                                <option value=""
                                        th:each="pos : ${application.categoriesMap.fireObjectsList}"
                                        th:value="${pos}" th:text="${pos}">
                                </option>
                            </select>
                        </div>
                        <div class="col-6 damage">
                            <input id="fireDamage" class="damage" type="text" th:field="*{fireDamage}" pattern="\d+">
                        </div>
                        <div class="col-12">
                            <p class="additional_information">Дополнительная информация</p>
                        </div>
                        <div class="col-12">
    <textarea id="additionaInformation" class="additional_information_textField" name="text"
              rows="2" th:field="*{additionalInformation}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-4 right_side">
            <div class="col-12">
                <div class="page_header">
                    <h5>ВЫЕЗДЫ ПО ТРЕВОГЕ В ОБЛАСТИ</h5>
                </div>
            </div>
            <div class="col-12">
                <p name="records history">История записей</p>
            </div>
            <div class="col-12">
                <table name="headers">
                    <tr>
                        <td name="number">№</td>
                        <td name="date">Дата</td>
                        <td name="time">Время</td>
                        <td name="locality">Нас.пункт</td>
                        <td name="address_emer_trips">Адрес</td>
                        <td name="category">Категория выезда</td>
                    </tr>
                </table>
            </div>
            <div class="textField_trips2">
                <table>
                    <tbody>
                    <tr th:each="trip,stat : ${regionTripsPage}" th:class="${trip.complete} ? _ : not_complete">
                        <td name="number"
                            th:text="${stat.count + regionTripsPage.getSize() * regionTripsPage.getNumber()}">
                        </td>
                        <td name="date" th:text="${trip.dateTime.toLocalDate()}"></td>
                        <td name="time" th:text="${trip.checkOutTime} ?: ${trip.messageTime}"></td>
                        <td name="locality" th:text="${trip.settlement.name}"></td>
                        <td name="address_emer_trips">
                            <div th:text="${trip.address}"></div>
                        </td>
                        <td name="category">
                            <div th:text="${trip.tripCategory.name}"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row gx-3 buttons">

                <form class="col-3" method="get" action="#"
                      th:action="${regionTripsPage.isFirst()} ? @{/regionEmergencyTrips/0} :
                      @{/regionEmergencyTrips/__${pageNumber} - 1__}">
                    <input type="submit" value="Пред. записи">
                </form>

                <form class="col-3" method="get" action="#"
                      th:action="${regionTripsPage.isLast()} ? @{/regionEmergencyTrips/__${pageNumber}__} :
                      @{/regionEmergencyTrips/__${pageNumber} + 1__}">
                    <input type="submit" value="След. записи">
                </form>

                <form class="col-3" method="get" action="#"
                      th:action="@{/regionEmergencyTrips/}">
                    <input hidden name="pageNumber" th:value="${pageNumber}">
                    <input type="submit" value="Обновить записи">
                </form>

                <form class="col-3" method="get" action="#" th:if="${regionTripsPage != null}"
                      th:action="@{/regionEmergencyTrips/}">
                    <input type="submit" value="Очистить форму">
                </form>
                <hr>

                <div class="col-3 save_trip">
                    <input type="submit" value="Сохр./изм. запись" form="tripForm">
                </div>

                <div class="col-3 delete_trip">
                    <input type="submit" value="Удалить запись" formmethod="post" formaction="#"
                           th:formaction="@{/regionEmergencyTrips/delete}" form="tripForm">
                </div>

                <form class="col-3" method="get" action="#" th:action="@{/regionEmergencyTripsSearch/}"
                      th:target="_blank">
                    <input type="submit" value="Поиск">
                </form>

                <div class="col-1 saveDescript">
                    <button type="submit" value="Сохр. описание" form="tripForm" formmethod="post"
                            th:formaction="@{/regionEmergencyTrips/saveDescription}">
                        <img src="../static/img/outline_print_black_24dp.png"
                             th:src="@{/img/outline_print_black_24dp.png}">
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>