<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ЗАНЯТИЯ В ОБЛАСТИ</title>
	<link rel="shortcut icon" type="image/svg" href="img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style3.css">
	<link rel="stylesheet" type="text/css" href="css/style4.css">
	<link rel="stylesheet" type="text/css" href="css/Выезды на занятия в городе.css">
	<link rel="stylesheet" type="text/css" href="css/Выезды на занятия в области.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-6 left_side">
				<div class="row">
					<div class="col-12">
						<div class="header">
							<h5>ВЫЕЗДЫ НА ЗАНЯТИЯ В ОБЛАСТИ</h5>
						</div>
					</div>
					<div class="col-5">
						<p>Дата и время</p>
					</div>
					<div class="col-7">
						<input type="datetime-local" name="datetime">
					</div>
					<div class="col-5">
						<p>Населённый пункт</p>
					</div>
					<div class="col-7">
						<select id="locality">
							<option selected="true">г. Магадан</option>
							<option>п. Уптар</option>
							<option>п. Сокол</option>
						</select>
					</div>
					<div class="col-5">
						<p>Адрес</p>
					</div>
					<div class="col-7">
						<input type="text" name="adress">
					</div>
					<div class="col-5">
						<p>Категория выезда</p>
					</div>
					<div class="col-7">
						<input type="text" name="adress">
					</div>
					<div class="col-5">
						<p>Кто сообщил</p>
					</div>
					<div class="col-7">
						<input type="text" name="adress">
					</div>
					<div class="col-5">
						<p>Кто принял</p>
					</div>
					<div class="col-7">
						<input type="text" name="adress">
					</div>
					<div class="col">
						<p>Кто привлекался</p>
					</div>
					<div class="col-12">
						<table name="who_was_involved">
							<tbody>
								<td name="subdivision">
									<p>Подразделение</p>
								</td>
								<td>
									<p >Отд.</p>
								</td>
								<td>
									<p>Тип ПА</p>
								</td>
								<td>
									<p>Время выезда</p>
								</td>
								<td>
									<p>Время приб.</p>
								</td>
							</tbody>
						</table>
					</div>
					<div class="col-12">
						<div class="textField_who_was_involved">
							<table>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td name="subdivision"><input type="text" name=""></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
									<td><input type="text"></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-12">
						<p class="additional_information">Дополнительная информация</p>
					</div>
					<div class="col-12">
						<textarea class="additional_information_textField" name="text" id="" rows="7"></textarea>
					</div>
				</div>
			</div>

			<div class="col-6 right_side">
				<div class="col-12">
					<p>История записей</p>
				</div>
				<div class="col-12">
					<table name="headers">
						<tr>
							<td name="date">Дата</td>
							<td name="time">Время</td>
							<td name="locality">Нас.пункт</td>
							<td name="adress">Адрес</td>
							<td name="category">Категория выезда</td>
						</tr>
					</table>
				</div>
				<div class="textField_trips2">
					<table>
						<thead>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
							<tr>
								<td name="date"></td>
								<td name="time"></td>
								<td name="locality"></td>
								<td name="adress"></td>
								<td name="category"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row gx-0 buttons">
					<div class="col-3">
						<input type="button" name="" value="Сохранить запись">
					</div>
					<div class="col-3">
						<input class="center" type="button" name="" value="Удалить запись">
					</div>
					<div class="col-3">
						<input class="center" type="button" name="" value="Очистить даннные">
					</div>
					<div class="col-3">
						<input class="end" type="button" name="" value="Поиск">
					</div>
					<div class="col-3">
						<a href="Новый выезд на занятия в области.html" name="back">Создать запись</a>
					</div>
					<div class="col-3">
						<a href="Главная.html" name="back">Назад</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>