<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ДЕЖУРНАЯ СМЕНА</title>
	<link rel="shortcut icon" type="image/svg" href="img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style2.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row gx-0 title">
			<h1>Дежурная смена</h1>
		</div>
		<form method="POST" action="#">
			<div class="row gx-0">
				<label class="col-6" for="duty number">Номер смены</label>
				<select class="col-6" name="duty number" id="duty number">
 					<option value=""></option>
 					<option value="1 смена">1 смена</option>
 					<option value="2 смена">2 смена</option>
 					<option value="3 смена">3 смена</option>
 					<option value="4 смена">4 смена</option>
				</select>
			</div>
			<div class="row gx-0">
				<label class="col-6" for="sod cuks">СОД ЦУКС</label>
				<input class="col-6" type="text" name="sod cuks" id="sod cuks" autocomplete="on">
			</div>
			<div class="row gx-0">
				<label class="col-6" for="nds cuks">НДС ЦУКС</label>
				<input class="col-6" type="text" name="nds cuks" id="nds cuks" autocomplete="on">
			</div>
			<div class="row gx-0">
				<label class="col-6" for="nds spt">НДС СПТ</label>
				<input class="col-6" type="text" name="nds spt" id="nds spt">
			</div>
			<div class="row gx-0">
				<label class="col-6" for="spnds sptr">СПНДС СПТ</label>
				<input class="col-6" type="text" name="spnds spt" id="spnds sptr">
			</div>
			<div class="row gx-0">
				<label class="col-6" for="garrison dispatcher">Диспетчер гарнизона</label>
				<input class="col-6" type="text" name="garrison dispatcher" id="garrison dispatcher">
			</div>
			<div class="row gx-0">
				<label class="col-6" for="cpps dispatcher">Диспетчер ЦППС СПТ</label>
				<input class="col-6" type="text" name="cpps dispatcher" id="cpps dispatcher">
			</div>
			<div class="row gx-0 buttons">
				<input class="col-3 button" type="submit" value="Сохранить">
				<input class="col-3 button reset" type="reset" value="Очистить">
				<a class="button" href="Главная.html">Назад</a>
			</div>
	</div>
</body>
</html>