<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ПОИСК ЗАНЯТИЯ ГОР.</title>
    <link rel="shortcut icon" type="image/svg" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style3.css" th:href="@{/css/style3.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/Выезды на занятия в городе.css"
          th:href="@{/css/Выезды на занятия в городе.css}">
    <script th:src="@{/assets/js/jquery-3.7.0.min.js}"></script>
    <script defer th:inline="javascript">
        $(document).ready(function () {
            var cond = [[${nonEmergencyTripsPageSearch}]]
        	$("div.textField_trips2 tr").click(function () {
        	    if (cond != null) {
        	        let pageNumber = cond.number;
            	    let tripsCount = cond.size;
        	        let tripIndex = $(this).find("td:first-child").text() - tripsCount * pageNumber - 1;
             	    let form = document.createElement('form');
                    form.action = 'record';
                    form.method = 'GET';
                    form.innerHTML = `<input name="tripIndex" value=${tripIndex} hidden>`;
                    document.body.append(form);
                    form.submit();
        	     }
        	});

        	function func1(event) {
                if(event.keyCode == 13) {
                event.preventDefault();
                return false;
                }
           };

           $("form#tripForm input[type='text']").keydown(func1);
           $("form#tripForm input[type='time']").keydown(func1);
           $("form#tripForm input[type='textarea']").keydown(func1);
        });

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <form class="col-6 left_side" id="tripForm" method="POST" action="#"
              th:action="@{/nonEmergencyTripsCitySearch/edit}"
              th:object="${nonEmergencyTripSearch}">
            <div class="row">
                <div class="col-12">
                    <div class="header">
                        <h5>ПОИСК ЗАНЯТИЙ В ГОРОДЕ</h5>
                    </div>
                </div>
                <div class="col-5">
                    <p>Дата и время</p>
                </div>
                <div class="col-7">
                    <input type="datetime-local" name="datetime" th:field="*{dateTime}" th:errorclass="error">
                </div>
                <div class="col-5">
                    <p>Населённый пункт</p>
                </div>
                <div class="col-7">
                    <select id="locality" th:field="*{settlement}" th:errorclass="error">
                        <option value=""></option>
                        <option value="г.Магадан">г. Магадан</option>
                        <option value="п.Уптар">п. Уптар</option>
                        <option value="п.Сокол">п. Сокол</option>
                    </select>
                </div>
                <div class="col-5">
                    <p>Адрес</p>
                </div>
                <div class="col-7">
                    <input type="text" name="address" th:field="*{address}" th:errorclass="error">
                </div>
                <div class="col-5">
                    <p>Категория выезда</p>
                </div>
                <div class="col-7">
                    <select th:field="*{tripCategory}" th:errorclass="error">
                        <option value=""></option>
                        <option value=""
                                th:each="pos : ${application.categoriesMap.nonEmergencyTripsCategoriesList}"
                                th:value="${pos}" th:text="${pos}">
                        </option>
                    </select>
                </div>
                <div class="col-5">
                    <p>Кто сообщил</p>
                </div>
                <div class="col-7">
                    <input type="text" name="who_reported" th:field="*{whoReported}" th:errorclass="error">
                </div>
                <div class="col-5">
                    <p>Кто принял</p>
                </div>
                <div class="col-7">
                    <select th:field="*{whoTook}" th:errorclass="error">
                        <option value=""></option>
                        <option value=""
                                th:each="pos : ${application.categoriesMap.fioDispatcherList}"
                                th:value="${pos}" th:text="${pos}">
                        </option>
                    </select>
                </div>
                <div class="col">
                    <p>Кто привлекался</p>
                </div>
                <div class="col-12">
                    <table name="who_was_involved">
                        <tbody>
                        <td name="subdivision">
                            <p>Подразделение</p>
                        </td>
                        <td name="div_number">
                            <p>Отд.</p>
                        </td>
                        <td name="stuff">
                            <p>Л/с</p>
                        </td>
                        <td name="car_type">
                            <p>Тип ПА</p>
                        </td>
                        <td name="check_out_time">
                            <p>Время выезда</p>
                        </td>
                        <td name="return_time">
                            <p>Время возвр.</p>
                        </td>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <div class="textField_who_was_involved">
                        <table>
                            <tr th:each="divTrip,stat : ${nonEmergencyTripSearch.nonAlarmDivisionWorkList}">
                                <td class="subdivision">
                                    <select id="division"
                                            th:field="${nonEmergencyTripSearch.nonAlarmDivisionWorkList[__${stat.index}__].division}"
                                            th:errorclass="error">
                                        <option value="" selected></option>
                                        <option value=""
                                                th:each="pos : ${application.categoriesMap.divisionsCityList}"
                                                th:value="${pos}" th:text="${pos}">
                                        </option>
                                    </select>
                                </td>
                                <td name="div_number">
                                    <select th:field="${nonEmergencyTripSearch.nonAlarmDivisionWorkList[__${stat.index}__].divisionNumber}"
                                            th:errorclass="error">
                                        <option value="" selected></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="Резерв">Р</option>
                                    </select>
                                </td>
                                <td name="stuff">
                                    <input type="text"
                                           th:field="${nonEmergencyTripSearch.nonAlarmDivisionWorkList[__${stat.index}__].stuff}"
                                           th:errorclass="error">
                                </td>
                                <td name="car_type">
                                    <select id="carType"
                                            th:field="${nonEmergencyTripSearch.nonAlarmDivisionWorkList[__${stat.index}__].carType}"
                                            th:errorclass="error">
                                        <option value=""></option>
                                        <option value=""
                                                th:each="pos : ${application.categoriesMap.carTypesList}"
                                                th:value="${pos}" th:text="${pos}">
                                        </option>
                                    </select>
                                </td>
                                <td name="check_out_time">
                                    <input id="checkOutTime" type="time"
                                           th:field="${nonEmergencyTripSearch.nonAlarmDivisionWorkList[__${stat.index}__].checkOutTime}"
                                           th:errorclass="error">
                                </td>
                                <td name="return_time">
                                    <input id="returnTime" type="time"
                                           th:field="${nonEmergencyTripSearch.nonAlarmDivisionWorkList[__${stat.index}__].returnTime}">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row gx-0 justify-content-start row_buttons" th:if="${nonEmergencyTripsPageSearch != null}">

                    <div class="col-4 add">
                        <button type="submit" th:formaction="@{/nonEmergencyTripsCitySearch/addNewDivisionEdit}">
                            <img src="../static/img/add_FILL0_wght400_GRAD0_opsz48.png"
                                 th:src="@{/img/add_FILL0_wght400_GRAD0_opsz48.png}">
                        </button>
                    </div>

                    <div class="col-4 delete">
                        <button type="submit" th:formaction="@{/nonEmergencyTripsCitySearch/deleteDivisionEdit}">
                            <img src="../static/img/delete_FILL0_wght400_GRAD0_opsz48.png"
                                 th:src="@{/img/delete_FILL0_wght400_GRAD0_opsz48.png}">
                            <input hidden name="pageNumber" th:value="${nonEmergencyTripsPageSearch.getNumber()}">
                        </button>
                    </div>

                    <div class="col-4 index">
                        <input type="text" name="index" pattern="\d+">
                    </div>

                </div>

                <div class="col-12">
                    <p class="additional_information">Дополнительная информация</p>
                </div>
                <div class="col-12">
                    <textarea class="additional_information_textField" name="text" id="" rows="7"
                              th:field="*{additionalInformation}"></textarea>
                </div>
            </div>
        </form>

        <div class="col-7 right_side">
            <div class="col-12">
                <p>История записей</p>
            </div>
            <div class="col-12">
                <table name="headers">
                    <tr>
                        <td name="number">№</td>
                        <td name="date">Дата</td>
                        <td name="time">Время</td>
                        <td name="locality">Нас.пункт</td>
                        <td name="address">Адрес</td>
                        <td name="category">Категория выезда</td>
                    </tr>
                </table>
            </div>
            <div class="textField_trips2">
                <table>
                    <tbody>
                    <tr th:each="trip,stat : ${nonEmergencyTripsPageSearch}">
                        <td name="number"
                            th:text="${stat.count + nonEmergencyTripsPageSearch.getSize() * nonEmergencyTripsPageSearch.getNumber()}">
                        </td>
                        <td name="date" th:text="${trip.dateTime.toLocalDate()}"></td>
                        <td name="time" th:text="${trip.dateTime.toLocalTime()}"></td>
                        <td name="locality" th:text="${trip.settlement.name}"></td>
                        <td name="address" th:text="${trip.address}"></td>
                        <td name="category" th:text="${trip.tripCategory.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12" th:if="${nonEmergencyTripsPageSearch != null}">
                <p th:text="|Найдено записей: ${nonEmergencyTripsPageSearch.getTotalElements()}|"></p>
            </div>
            <div class="row gx-0 buttons">

                <form class="col-2" method="get" action="#" th:if="${nonEmergencyTripsPageSearch != null}"
                      th:action="${nonEmergencyTripsPageSearch.isFirst()} ? @{/nonEmergencyTripsCitySearch/0} :
                      @{/nonEmergencyTripsCitySearch/__${nonEmergencyTripsPageSearch.getNumber()} - 1__}">
                    <input type="submit" value="Пред. записи">
                </form>

                <form class="col-2" method="get" action="#" th:if="${nonEmergencyTripsPageSearch != null}"
                      th:action="${nonEmergencyTripsPageSearch.isLast()} ? @{/nonEmergencyTripsCitySearch/__${nonEmergencyTripsPageSearch.getNumber()}__} :
                      @{/nonEmergencyTripsCitySearch/__${nonEmergencyTripsPageSearch.getNumber()} + 1__}">
                    <input type="submit" value="След. записи">
                </form>

                <form class="col-2" method="get" action="#" th:if="${nonEmergencyTripsPageSearch != null}"
                      th:action="@{/nonEmergencyTripsCitySearch/}">
                    <input hidden name="clearFormFields" value="true">
                    <input type="submit" value="Очистить форму">
                </form>

                <form class="col-2" th:if="${nonEmergencyTripsPageSearch != null}" method="get" action="#"
                      th:action="@{/nonEmergencyTripsCitySearch/}">
                    <input type="submit" value="Сбросить поиск">
                    <input name="resetParamsAndSearchResults" value="true" hidden>
                </form>

                <form class="col-2" th:if="${nonEmergencyTripsPageSearch != null}" method="get" action="#"
                      th:action="@{/nonEmergencyTripsCitySearch/}">
                    <input hidden name="resetSearchResults" value="true">
                    <input hidden name="pageNumber" th:value="${nonEmergencyTripsPageSearch.getNumber()}">
                    <input type="submit" value="Обновить поиск">
                </form>
                <hr th:if="${nonEmergencyTripsPageSearch != null}">

                <div class="col-2 save_trip" th:if="${nonEmergencyTripsPageSearch != null}">
                    <input hidden name="pageNumber" th:value="${nonEmergencyTripsPageSearch.getNumber()}" form="tripForm">
                    <input type="submit" value="Изменить запись" form="tripForm">
                </div>

                <div class="col-2 delete_trip" th:if="${nonEmergencyTripsPageSearch != null}">
                    <input hidden name="pageNumber" th:value="${nonEmergencyTripsPageSearch.getNumber()}" form="tripForm">
                    <input type="submit" value="Удалить запись" formaction="#"
                           th:formaction="@{/nonEmergencyTripsCitySearch/delete}"
                           form="tripForm">
                </div>

                <hr th:if="${nonEmergencyTripsPageSearch != null}">

                <form class="col-2" method="post" action="#" id="nonEmergencySearchForm"
                      th:action="@{/nonEmergencyTripsCitySearch/search}">
                    <p class="searchFormHeader">Поиск по категории</p>
                    <input type="datetime-local" name="start" th:field="${nonEmergencySearchForm.start}">
                    <input type="datetime-local" name="end" th:field="${nonEmergencySearchForm.end}">
                    <select name="tripCategory" th:field="${nonEmergencySearchForm.tripCategory}">
                        <option value="" selected></option>
                        <option value=""
                                th:each="pos : ${application.categoriesMap.nonEmergencyTripsCategoriesList}"
                                th:value="${pos}" th:text="${pos}">
                        </option>
                    </select>
                    <input type="submit" value="Поиск">
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>